<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Tic-Tac-Toe</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/three@0.126.1/build/three.min.js"></script>
    <style>
        body { margin: 0; }
        canvas { display: block; }
        #homeButton { position: absolute; left: 20px; top: 20px; padding: 10px 20px; font-size: 16px; }
    </style>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
</head>
<body>
    <canvas id="myCanvas"></canvas>
    {% url 'home' as home_url %}
    <button id="homeButton" onclick="location.href='{{ home_url }}'">Home</button>
    <script>
        // Scene setup
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
        var renderer = new THREE.WebGLRenderer({canvas: document.getElementById('myCanvas')});
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        // Adding lights
        var ambientLight = new THREE.AmbientLight(0x404040); // soft white light
        scene.add(ambientLight);
        var directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
        directionalLight.position.set(0, 1, 0);
        scene.add(directionalLight);

        // Cube geometry setup
        var geometry = new THREE.BoxGeometry(6, 6, 6); // overall size of the grid
        var edges = new THREE.EdgesGeometry(geometry);
        var line = new THREE.LineSegments(edges, new THREE.LineBasicMaterial({color: 0xffffff}));
        scene.add(line);


        // Ball setup
        var sphereGeometry = new THREE.SphereGeometry(0.4, 32, 32);
        var redMaterial = new THREE.MeshLambertMaterial({color: 0xff0000});
        var whiteMaterial = new THREE.MeshLambertMaterial({color: 0xffffff});
        var blackMaterial = new THREE.MeshLambertMaterial({color: 0x000000});
        
        // Generating balls in all 27 positions
        for (let x = -2; x <= 2; x+=2) {
            for (let y = -2; y <= 2; y+=2) {
                for (let z = -2; z <= 2; z+=2) {
                    var sphere = new THREE.Mesh(sphereGeometry, x === 0 && y === 0 && z === 0 ? redMaterial : (x % 2 === 0 ? whiteMaterial : whiteMaterial));
                    sphere.position.set(x, y, z);
                    scene.add(sphere);
                }
            }
        }

        // Camera position
        camera.position.set(7, 4, 3);
        camera.lookAt(scene.position);

        // Animation loop
        function animate() {
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        }

        animate();
    </script>
</body>
</html>
