{% extends 'base_game.html' %}
{% block scripts %}
<script>
    var setupSocket;

    function startWebSocket() {
        setupSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/setup/'
        );

        setupSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            if (data.status === 'success') {
                window.location.href = '/game/' + data.game_id;
            }
        };

        setupSocket.onclose = function(e) {
            console.error('Setup socket closed unexpectedly');
        };
    }

    function handleGameOver(winner, eloChange) {
        createGameOverUI(winner, eloChange, function() {
            startWebSocket();
            findOpponent().done(function(response) {
                if (response.status === 'success') {
                    window.location.href = '/game/' + response.game_id;
                } else if (response.status === 'waiting') {
                    alert('Waiting for an opponent. You will be notified once matched.');
                }
            }).fail(function() {
                alert('Error finding an opponent. Please try again.');
            });
        });
    }

    var gameSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/game/' + '{{ game_id }}' + '/'
    );

    gameSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log("RECEIVED gameSocket msg with data" + JSON.stringify(data));
        updateGameState(JSON.parse(data.game_state));
        if (data.winner) {
            handleGameOver(data.winner_name, data.elo_change);
        }
    };

    function handlePieceClick(piece) {
        fetch('/multiplayer/move', {  // Ensure this URL correctly points to your view handling moves
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Ensuring CSRF token is included for Django
            },
            body: JSON.stringify({
                game_id: '{{ game_id }}',  // Pass the current game ID
                position: piece.userData.originalPosition,
                direction: sideToDirection(directionMapping['BACK'])
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log("Recieved click with data: ");
            console.log(data);
            playSound("move");
            updateGameState(JSON.parse(data.game_state));  // Update the local state with the new state from the server
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
