<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Play</title>
</head>
<body>
    <p>
        Welcome to TacTicToe.io!

[photo of game board]

How To Play

Objective: Position 3 of your pieces in a row anywhere on the three-dimensional 3x3x3 game board. Achieve this run vertically, horizontally, diagonally, or straight through the middle. Players alternate turns placing their pieces until one achieves a run of 3 or the board fills up without a winner. If the board fills up, the second player wins the game.

The Twist: You can either place a new piece in an empty square, or push existing pieces in your chosen direction, provided the push doesn't force pieces out of the cube. You cannot place a piece in the middle directly, and must start from one of the outer squares instead. Rotate the board using your arrow keys or W, A, S, D to face any direction. Then, place your piece on the side facing you, which pushes any piece in that square towards the back of the board.

[before and after picture of pushing existing pieces]

Neutral Pieces and Strategy: Seventeen "neutral" black pieces start on the board as obstacles, placed in a random pattern generated each game you play. Use these to block your opponent or secure advantageous positions for your pieces. With only 10 open squares initially available, filling the board without completing a run of three is a real possibility. This dynamic creates a complex array of strategies, making this simple looking game easy to learn but challenging to master.

Hope you enjoy!
    </p>
</body>