{% extends 'base_game.html' %}
{% block scripts %}

<script>
    const playerColor = '{{ player_color }}';

    document.addEventListener('DOMContentLoaded', (event) => {
        const defaultDirectionMapping = { 'FRONT': 'FRONT', 'BACK': 'BACK', 'LEFT': 'LEFT', 'RIGHT': 'RIGHT', 'TOP': 'TOP', 'BOTTOM': 'BOTTOM'};
        localStorage.setItem('directionMapping', JSON.stringify(defaultDirectionMapping));
    });

    function handleGameOver(winner, eloChange) {
        if (winner == playerColor) {
            playSound("win");
        }
        else {
            playSound("lose");
        }
        createGameOverUI(winner, eloChange, function() {
        location.reload();
    });
    }

    function handlePieceClick(piece) {
        currentDirectionMapping = JSON.parse(localStorage.getItem('directionMapping'));
        fetch('/singleplayer/move', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                position: piece.userData.originalPosition,
                direction: sideToDirection(currentDirectionMapping['BACK']),
                player: playerColor,
                difficulty: '{{ difficulty|safe }}'
            })
        })
        .then(response => response.json())
        .then(data => {
            playSound("move");
            updateGameState(data.game_state);
            if (data.winner) {
                handleGameOver(data.winner);
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
