{% extends 'base_game.html' %}
{% block scripts %}

<script>
    function handleGameOver(winner) {
        createGameOverUI(winner, function() {
        location.reload();
    });
    }

    function handlePieceClick(piece) {
        // AJAX request to the server with the clicked position
        fetch('/singleplayer/move', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  // Ensure CSRF token is sent with request
            },
            body: JSON.stringify({
                position: piece.userData.originalPosition,
                direction: sideToDirection(directionMapping['BACK']),
                player: "RED",
                difficulty: '{{ difficulty|safe }}'
            })
        })
        .then(response => response.json())
        .then(data => {
            updateGameState(data.game_state);
            handleGameOver(data.winner);
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
