<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup Single Player Game</title>
</head>
<body>
    <form action="{% url 'sp_view' %}" method="get">
        <label for="difficulty">Choose difficulty:</label>
        <select name="difficulty" id="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <button type="submit">Play</button>
    </form>
</body>
</html>
