<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TacTicToe</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.126.1/build/three.min.js"></script>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/find_opponent.js' %}"></script>
    <script src="{% static 'js/game_over.js' %}"></script>
    <style>
        body { margin: 0; }
        canvas { 
            display: block; 
            width: 100% !important;
            height: 100% !important;
        }
        #homeButton { position: absolute; left: 20px; top: 20px; padding: 10px 20px; font-size: 16px; }
        #toast-container {
            position: fixed;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
        }

        .toast {
            background-color: rgba(255, 0, 0, 0.7);
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-family: Arial, sans-serif;
            font-size: 16px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .toast.show {
            opacity: 1;
        }
    </style>
</head>
<body>
    <audio id="moveSound" src="{% static 'sounds/move.wav' %}" preload="auto"></audio>
    <!-- Click by complex_waveform -- https://freesound.org/s/213148/ -- License: Attribution 4.0 -->
    <audio id="winSound" src="{% static 'sounds/win.wav' %}" preload="auto"></audio>
    <!-- Good! by syseQ -- https://freesound.org/s/267528/ -- License: Creative Commons 0 -->
    <audio id="loseSound" src="{% static 'sounds/lose.wav' %}" preload="auto"></audio>
    <!-- negative_beeps.wav by themusicalnomad -- https://freesound.org/s/253886/ -- License: Creative Commons 0 -->
    <audio id="startSound" src="{% static 'sounds/start.wav' %}" preload="auto"></audio>
    <!-- Coin_C_09 by cabled_mess -- https://freesound.org/s/350876/ -- License: Creative Commons 0 -->
    <audio id="invalidSound" src="{% static 'sounds/invalid.wav' %}" preload="auto"></audio>
    <!-- GASP_UI_Reject.wav by Rob_Marion -- https://freesound.org/s/542040/ -- License: Creative Commons 0 -->
    <canvas id="myCanvas"></canvas>
    <div id="toast-container">
        <div id="invalidMoveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            Invalid Move
        </div>
    </div>
    <script>
        let isRotating = false;
        let isJiggling = false;
        let ROTATION_DURATION = 600;
        // ---------------------Scene setup----------------------------------------------------------
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
        var renderer = new THREE.WebGLRenderer({canvas: document.getElementById('myCanvas')});
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.setClearColor(0xd3d2c0);
        document.body.appendChild(renderer.domElement);

        function onWindowResize() {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
        }

        window.addEventListener('resize', onWindowResize, false);

        // Adding lights
        var ambientLight = new THREE.AmbientLight(0x404040); // soft white light
        scene.add(ambientLight);
        var directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
        directionalLight.position.set(1, 1, 1);
        directionalLight.castShadow = true;
        scene.add(directionalLight);
        var pointLight = new THREE.PointLight(0xffffff, 0.5);
        pointLight.position.set(-2, -2, -2);
        pointLight.castShadow = true;
        scene.add(pointLight);

        // Set Up Cube
        const cubeGroup = new THREE.Group();
        const boardGroup = new THREE.Group();
        const piecesGroup = new THREE.Group();
        cubeGroup.add(boardGroup);
        cubeGroup.add(piecesGroup);

        function addTube(start, end) {
            var path = new THREE.LineCurve3(new THREE.Vector3(...start), new THREE.Vector3(...end));
            var geometry = new THREE.TubeGeometry(path, 64, 0.05, 8, false);
            var mesh = new THREE.Mesh(geometry, tubeMaterial);
            boardGroup.add(mesh);
        }
        
        var tubeMaterial = new THREE.MeshPhongMaterial({ color: 0xedd8a8});
        var edgePaths = [
            new THREE.Vector3(-3, -3, -3),
            new THREE.Vector3(3, -3, -3),
            new THREE.Vector3(3, 3, -3),
            new THREE.Vector3(-3, 3, -3),
            new THREE.Vector3(-3, -3, 3),
            new THREE.Vector3(3, -3, 3),
            new THREE.Vector3(3, 3, 3),
            new THREE.Vector3(-3, 3, 3),
        ];

        edgePaths.forEach((start, index) => {
            edgePaths.forEach((end, subIndex) => {
                if (start.distanceTo(end) === 6) {
                    addTube(start.toArray(), end.toArray());
                }
            });
        });

        var cubeSize = 6;
        var halfCubeSize = cubeSize / 2;
        var divisionSize = cubeSize / 3;
        for (let offset = -halfCubeSize; offset <= halfCubeSize; offset += divisionSize) {
            for (let z = -halfCubeSize; z <= halfCubeSize; z += divisionSize) {
                addTube([-halfCubeSize, offset, z], [halfCubeSize, offset, z]);
            }
            for (let y = -halfCubeSize; y <= halfCubeSize; y += divisionSize) {
                addTube([offset, y, -halfCubeSize], [offset, y, halfCubeSize]);
            }
            for (let x = -halfCubeSize; x <= halfCubeSize; x += divisionSize) {
                addTube([x, -halfCubeSize, offset], [x, halfCubeSize, offset]);
            }
        }

        // Set Up Balls
        var sphereGeometry = new THREE.SphereGeometry(0.7, 32, 32);
        var redMaterial = new THREE.MeshPhongMaterial({color: 0xdf7053});
        var blueMaterial = new THREE.MeshPhongMaterial({color: 0x5b95e1});
        var blackMaterial = new THREE.MeshPhongMaterial({color: 0x3b3934});
        var emptyMaterial = new THREE.MeshPhongMaterial({
            color: 0x000000,
            transparent: true,
            opacity: 0.0,
            depthWrite: false
        });
        let highlightMaterial;
        var redHighlightMaterial = new THREE.MeshPhongMaterial({
            color: 0xdf7053,
            emissive: 0x333300
        })
        var blueHighlightMaterial = new THREE.MeshPhongMaterial({
            color: 0x5b95e1,
            emissive: 0x333300
        })

        var clickableSpheres = [];
        var gameState = JSON.parse('{{ game_state|safe }}');
        gameState.forEach((layer, x) => {
            layer.forEach((row, y) => {
                row.forEach((cell, z) => {
                    var material;
                    switch (cell) {
                        case 'BLACK':
                            material = blackMaterial;
                            break;
                        case 'BLUE':
                            material = blueMaterial;
                            break;
                        case 'RED':
                            material = redMaterial;
                            break;
                        default:
                            material = emptyMaterial
                    }
                    var sphere = new THREE.Mesh(sphereGeometry, material);
                    sphere.position.set(-y*2+2, -z*2+2, -x*2+2);
                    sphere.userData = {
                        position: {x: x, y: y, z: z},
                        originalPosition: {x: x, y: y, z: z},
                        clickable: (y == 0)
                    };
                    if (y == 0) {
                        clickableSpheres.push(sphere);
                    }
                    piecesGroup.add(sphere); 
                });
            });
        });

        scene.add(cubeGroup);

        // Initialize Raycaster
        var raycaster = new THREE.Raycaster();
        var mouse = new THREE.Vector2();

        // Camera position
        camera.position.set(7, 4, 3);
        camera.lookAt(scene.position);

        // Animation loop
        function animate() {
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        }

        animate();

        //--------------END-----Scene Setup-----END-----------------------------------------

        // To be overriden by single, multiplayer
        function handleGameOver(winner, elo_change) {
            console.error("handleGameOver function not implemented.");
        }

        function handlePieceClick(piece) {
            console.error("handlePieceClick function not implemented.");
        }

        function playSound(soundType) {
            const sound = document.getElementById(soundType + "Sound");
            if (sound) {
                sound.play();
            }
        }

        function showToast(message) {
            const toast = document.getElementById('invalidMoveToast');
            toast.textContent = message;
            toast.classList.add('show');
            setTimeout(() => {
                toast.classList.remove('show');
            }, 3000);
        }

        function jigglePieces(row, direction, callback) {
            if (isJiggling) return;
            isJiggling = true;

            const JIGGLE_DURATION = 450;
            const JIGGLE_AMPLITUDE = 0.15;

            const startPositions = row.map(piece => piece.position.clone());
            const startTime = Date.now();

            function update() {
                const elapsedTime = Date.now() - startTime;
                const progress = Math.min(elapsedTime / JIGGLE_DURATION, 1);

                if (progress < 1) {
                    const displacement = Math.sin(progress * Math.PI * 7) * JIGGLE_AMPLITUDE * (1 - progress);

                    row.forEach((piece, index) => {
                        const start = startPositions[index];
                        switch (direction) {
                            case 'LEFT':
                            case 'RIGHT':
                                piece.position.set(
                                    start.x,
                                    start.y + (index % 2 == 0 ? displacement : -displacement),
                                    start.z + (index % 2 == 0 ? displacement : -displacement)
                                );
                            case 'FRONT':
                            case 'BACK':
                                piece.position.set(
                                    start.x + (index % 2 == 0 ? displacement : -displacement),
                                    start.y,
                                    start.z + (index % 2 == 0 ? displacement : -displacement)
                                );
                            case 'UP':
                            case 'DOWN':
                                piece.position.set(
                                    start.x + (index % 2 == 0 ? displacement : -displacement),
                                    start.y + (index % 2 == 0 ? displacement : -displacement),
                                    start.z
                                );
                        }
                    });

                    requestAnimationFrame(update);
                } else {
                    row.forEach((piece, index) => {
                        piece.position.copy(startPositions[index]);
                    });

                    if (callback) callback();
                }

                renderer.render(scene, camera);
            }

            update();
        }

        function getRowToJiggle(piece) {
            const { x, y, z } = piece.userData.position;
            const row = [];
            
            piecesGroup.children.forEach(sphere => {
                if (sphere.userData.position.x === x && sphere.userData.position.z === z) {
                    row.push(sphere);
                }
            });
            
            return row;
        }

        var lastIntersected = null;

        function onMouseMove(event) {
            mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
            mouse.y = -(event.clientY / window.innerHeight) * 2 + 1;

            raycaster.setFromCamera(mouse, camera);

            var intersects = raycaster.intersectObjects(clickableSpheres, true);

            if (intersects.length > 0) {
                if (lastIntersected !== intersects[0].object) {
                    if (lastIntersected) {
                        lastIntersected.material = lastIntersected.currentMaterial;
                    }
                    lastIntersected = intersects[0].object;
                    lastIntersected.currentMaterial = lastIntersected.material;
                    lastIntersected.material = highlightMaterial;
                }
            } else {
                if (lastIntersected) {
                    lastIntersected.material = lastIntersected.currentMaterial;
                    lastIntersected = null;
                }
            }
        }

        window.addEventListener('mousemove', onMouseMove, false);

        function onMouseOut(event) {
            if (lastIntersected) {
                lastIntersected.material = lastIntersected.currentMaterial;
                lastIntersected = null;
            }
        }

        window.addEventListener('mouseout', onMouseOut, false);

        function onKeyDown(event) {
            if (isRotating) return;

            let direction;

            switch (event.key) {
                case 'ArrowUp':
                case 'w':
                    direction = 'UP';
                    break;
                case 'ArrowDown':
                case 's':
                    direction = 'DOWN';
                    break;
                case 'ArrowLeft':
                case 'a':
                    direction = 'LEFT';
                    break;
                case 'ArrowRight':
                case 'd':
                    direction = 'RIGHT';
                    break;
                default:
                    return;
            }
            isRotating = true;
            const directionMapping = JSON.parse(localStorage.getItem('directionMapping'));
            updateDirectionMapping(directionMapping, direction);
            localStorage.setItem('directionMapping', JSON.stringify(directionMapping));
            updatePieceLocations(direction);
            animateRotation(direction, () => {
                isRotating = false;
            });
        }

        window.addEventListener('keydown', onKeyDown, false);

        function onMouseClick(event) {
            mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
            mouse.y = -(event.clientY / window.innerHeight) * 2 + 1;
            raycaster.setFromCamera(mouse, camera);

            var intersects = raycaster.intersectObjects(clickableSpheres, true);
            if (intersects.length > 0) {
                var object = intersects[0].object;
                if (object.userData && object.userData.clickable) {
                    handlePieceClick(object);
                }
            }
        }

        window.addEventListener('click', onMouseClick, false);

        function rotateCube(direction) {
            // Update pieces game board indexed locations in cube
            updatePieceLocations(direction);
            // Update pieces actual locations in space for rendering
            rotatePieces(direction);
        }

        function reapplyRotations() {
            // Starting at the default mapping, rotate until we get to the current mapping (cube rotation). This will rotate the game 
            // state to match the rotation the user currently has set
            const targetDirectionMapping = JSON.parse(localStorage.getItem('directionMapping'));
            console.log(targetDirectionMapping);
            let directionMapping = { 'FRONT': 'FRONT', 'BACK': 'BACK', 'LEFT': 'LEFT', 'RIGHT': 'RIGHT', 'TOP': 'TOP', 'BOTTOM': 'BOTTOM'};
            let count = 0;
            while (!(directionMapping['TOP'] == targetDirectionMapping['TOP'])) {
                if (count % 2 == 0) {
                    if (count % 4 == 0) {
                        rotateCube('LEFT');
                        updateDirectionMapping(directionMapping, 'LEFT');
                    }
                    else {
                        rotateCube('RIGHT');
                        updateDirectionMapping(directionMapping, 'RIGHT');
                    }
                }
                else {
                    rotateCube('UP');
                    updateDirectionMapping(directionMapping, 'UP');
                }
                count += 1;
            }
            while (!(directionMapping['FRONT'] == targetDirectionMapping['FRONT'])) {
                console.log("ROTATING RIGHT");
                rotateCube('RIGHT');
                updateDirectionMapping(directionMapping, 'RIGHT');
            }
        }

        function updateDirectionMapping(directionMapping, direction) {
            // Update the mapping in place depending on rotation
            frontVal = directionMapping['FRONT']
            switch (direction) {
                case 'UP':
                    directionMapping['FRONT'] = directionMapping['BOTTOM'];
                    directionMapping['BOTTOM'] = directionMapping['BACK'];
                    directionMapping['BACK'] = directionMapping['TOP'];
                    directionMapping['TOP'] = frontVal;
                    break;
                case 'DOWN':
                    directionMapping['FRONT'] = directionMapping['TOP'];
                    directionMapping['TOP'] = directionMapping['BACK'];
                    directionMapping['BACK'] = directionMapping['BOTTOM'];
                    directionMapping['BOTTOM'] = frontVal;
                    break;
                case 'LEFT':
                    directionMapping['FRONT'] = directionMapping['RIGHT'];
                    directionMapping['RIGHT'] = directionMapping['BACK'];
                    directionMapping['BACK'] = directionMapping['LEFT'];
                    directionMapping['LEFT'] = frontVal;
                    break;
                case 'RIGHT':
                    directionMapping['FRONT'] = directionMapping['LEFT'];
                    directionMapping['LEFT'] = directionMapping['BACK'];
                    directionMapping['BACK'] = directionMapping['RIGHT'];
                    directionMapping['RIGHT'] = frontVal;
                    break;
            }
        }

        function updateClickableSpheres() {
            clickableSpheres = [];
            piecesGroup.children.forEach(sphere => {
                if (sphere.userData.position.y === 0) {
                    sphere.userData.clickable = true;
                    clickableSpheres.push(sphere);
                }
                else {
                    sphere.userData.clickable = false;
                }
            });
        }

        function updatePieceLocations(direction) {
            piecesGroup.children.forEach(sphere => {
                var x = sphere.userData.position.x;
                var y = sphere.userData.position.y;
                var z = sphere.userData.position.z;
                switch (direction) {
                    case 'UP':
                        sphere.userData.position = { x: x, y: -z + 2, z: y };
                        break;
                    case 'DOWN':
                        sphere.userData.position = { x: x, y: z, z: -y + 2 };
                        break;
                    case 'LEFT':
                        sphere.userData.position = { x: y, y: -x + 2, z: z };
                        break;
                    case 'RIGHT':
                        sphere.userData.position = { x: -y + 2, y: x, z: z };
                        break;
                }
            });
            updateClickableSpheres();
        }

        function rotatePieces(direction) {
            const angle = Math.PI / 2;
            let axis;

            switch (direction) {
                case 'UP':
                    axis = new THREE.Vector3(0, 0, 1);
                    break;
                case 'DOWN':
                    axis = new THREE.Vector3(0, 0, -1);
                    break;
                case 'LEFT':
                    axis = new THREE.Vector3(0, -1, 0);
                    break;
                case 'RIGHT':
                    axis = new THREE.Vector3(0, 1, 0);
                    break;
            }

            var rotation = new THREE.Matrix4().makeRotationAxis(axis.normalize(), angle);
            piecesGroup.children.forEach(sphere => {
                sphere.position.applyMatrix4(rotation);
            });

            renderer.render(scene, camera);
        }

        let totalRotation = new THREE.Quaternion();

        function animateRotation(direction, callback) {
            const startQuaternion = new THREE.Quaternion().copy(cubeGroup.quaternion);
            const endQuaternion = new THREE.Quaternion();
            const angle = Math.PI / 2;
            let axis;

            switch (direction) {
                case 'UP':
                    axis = new THREE.Vector3(0, 0, 1);
                    break;
                case 'DOWN':
                    axis = new THREE.Vector3(0, 0, -1);
                    break;
                case 'LEFT':
                    axis = new THREE.Vector3(0, -1, 0);
                    break;
                case 'RIGHT':
                    axis = new THREE.Vector3(0, 1, 0);
                    break;
            }

            endQuaternion.setFromAxisAngle(axis.normalize(), angle);
            endQuaternion.multiply(startQuaternion);

            const startTime = Date.now();

            function update() {
                const elapsedTime = Date.now() - startTime;
                const progress = Math.min(elapsedTime / ROTATION_DURATION, 1);

                if (progress < 1) {
                    THREE.Quaternion.slerp(startQuaternion, endQuaternion, cubeGroup.quaternion, progress);
                    requestAnimationFrame(update);
                } else {
                    cubeGroup.quaternion.copy(endQuaternion);
                    totalRotation.multiply(endQuaternion);
                    if (callback) callback();
                }

                renderer.render(scene, camera);
            }

            update();
        }

        function updateGameState(gameState) {
            if (isRotating) {
                setTimeout(() => updateGameState(gameState), 50);
                return;
            }
            cubeGroup.quaternion.set(0, 0, 0, 1);
            while (piecesGroup.children.length > 0) {
                piecesGroup.remove(piecesGroup.children[0]);
            }
            gameState.forEach((layer, x) => {
                layer.forEach((row, y) => {
                    row.forEach((cell, z) => {
                        var material;
                        switch (cell) {
                            case "BLACK":
                                material = blackMaterial;
                                break;
                            case "BLUE":
                                material = blueMaterial;
                                break;
                            case "RED":
                                material = redMaterial;
                                break;
                            default:
                                material = emptyMaterial;
                        }
                        var sphere = new THREE.Mesh(sphereGeometry, material);
                        sphere.position.set(-y * 2 + 2, -z * 2 + 2, -x * 2 + 2);
                        sphere.userData = {
                            position: { x: x, y: y, z: z },
                            originalPosition: { x: x, y: y, z: z },
                            clickable: (y === 0)
                        };

                        piecesGroup.add(sphere);
                    });
                });
            });

            // Re-render the scene
            reapplyRotations();
            updateClickableSpheres();
            renderer.render(scene, camera);
        }

        function sideToDirection(side) {
            switch(side) {
                case 'TOP':
                    return 'UP'
                case 'BOTTOM':
                    return 'DOWN'
                default:
                    return side
            }
        }
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
