{% extends 'base_game.html' %}
{% block scripts %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<style>
    .home-button {
            position: fixed;
            top: 20px;
            left: 20px;
            z-index: 1000;
        }
</style>
<a href="/" class="btn btn-outline-light home-button">
    <i class="fas fa-home"></i> Home
</a>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        localStorage.setItem('player', JSON.stringify('RED'));
        highlightMaterial = redHighlightMaterial;
    });

    function handleGameOver(winner) {
        playSound("win");
        createGameOverUI(winner, null, function() {
        location.reload();
    });
    }

    function handlePieceClick(piece) {
        currentPlayer = JSON.parse(localStorage.getItem('player'));
        currentDirectionMapping = JSON.parse(localStorage.getItem('directionMapping'));
        fetch('/local/move', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                position: piece.userData.originalPosition,
                direction: sideToDirection(currentDirectionMapping['BACK']),
                player: currentPlayer,
                difficulty: '{{ difficulty|safe }}'
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'error') {
                showToast("Invalid Move");
            }
            else {
                playSound("move");
                updateGameState(data.game_state);
                const nextPlayer = currentPlayer === 'RED' ? 'BLUE' : 'RED';
                localStorage.setItem('player', JSON.stringify(nextPlayer));
                highlightMaterial = (nextPlayer === 'RED') ? redHighlightMaterial : blueHighlightMaterial;
                if (data.winner) {
                    handleGameOver(data.winner);
                }
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showToast("Unexpected Error");
        });
    }
</script>
{% endblock %}
